{% extends "manager/layout.html"%}

{% block restaurant%}
    {%if restaurant%}
    <p>User: {{username}}
        <a href="{% url 'logout'%}"> (Logout)</a>
    </p>
    <h1>{{restaurant}} </h1>  
    
   
    {%endif%}

{% endblock %}

{% block body%}
<div class="container">
    <form action="{%url 'add' %}" method="POST">
        {% csrf_token %}
        <label >Dish Name:</label>
        <input type="text" class="form-control " name="item_name" required>

        <label >Price:</label>
        <input type="number" class="form-control "  name="price" required>

        <label >Ingredient:</label>
        <input type="text" class="form-control "  name="ingredient" required>

        <label >Available:</label>
        <select class="form-control " name="stock"  required>
            <option></option>
            <option value=True>Available</option>
            <option value=False >Unavailable</option>
        

        </select>

        <label >Category: </label>
        <select class="form-control " name="category" required> 
            <option></option>
            {% for category in categories%}
            <option value="{{category.id}}">{{category.category_name}}</option>
            {%endfor%}

        </select>

        <button class="btn btn-primary" type="submit" style="margin-top: 15px;">Save</button>
        <a href="{%url 'index'%}" class="btn btn-danger " style="margin-top: 15px;">Cancel</a>
    </form>

</div>
{%endblock%}