{% extends "manager/layout.html" %}

{% block restaurant%}
    {%if restaurant%}
    <p>User: {{username}}
        <a href="{% url 'logout'%}"> (Logout)</a>
    </p>
    <h1>{{restaurant}} </h1>  
    
   
    {%endif%}

{% endblock %}

{%block restaurant_navbar%}
    {{restaurant}}
{%endblock%}

{%block body%}
    
        <h2>All Categories</h2>
        {%for category in categories%}
        <div class="container">
            <form class="" action="{% url 'editcategory' category.id%}" method="POST" >
                {%csrf_token%}
                <div class="row d-flex " >
                    <div class="col-sm-4">
                        <label for="category" >Category: </label>
                        <input type="text" class="form-control" name="category" value="{{category.category_name}}">
                    </div>
                    <div class="col-sm-4">
                        <label for="priority">Priority: </label>
                        <input type="text" class="form-control" name="priority" value="{{category.priority}}">
                    </div>
                    <div class="col-sm-4 align-self-end" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-info " >SAVE CATEGORY DETAILS</button> 
                    </div>
                </div>

            </form>
        Click here to <a href="{% url 'updatecategory' category.id%}" style="color: red">Edit Description</a>
        </div>
        <hr>
        {%empty%}
            <p>No categories to display, add category from <a href="{% url 'category'%}">Add category</a> option</p>
        {%endfor%}
   
 
    {%if message%}
    <div class="alert alert-info">
        <strong>Messag:</strong> {{message}}
      </div>
    {%endif%}
    
{%endblock%}