{% extends "manager/layout.html"%}

{% block restaurant%}
    {%if restaurant%}
    <p>User: {{username}}
        <a href="{% url 'logout'%}"> (Logout)</a>
    </p>
    <h1>{{restaurant}} </h1>  
    
   
    {%endif%}

{% endblock %}

{%block restaurant_navbar%}
    {{restaurant}}
{%endblock%}

{% block body%}
<!-- display messages -->
<div class="container">
    {%if error_message%}
        <div class="alert alert-danger">
            <strong>Alert!</strong> {{error_message}}
        </div>
    {%endif%}
    {% if success_message%}
        <div class="alert alert-success">
            <strong>Success!</strong> {{success_message}}
        </div>
    {% endif%}
</div>
<div class="container">
    <form  action="{%url 'edit_menu' menu.id %}" method="POST">
        {% csrf_token %}
        <label >Dish Name:</label>
        <input type="text" class="form-control " value="{{menu.item_name}}" name="item_name" required>
        <div id="price_box">
            <label>Price tag</label>
            <input type="text" class="form-control" value="{{menu.price_tag}}" name="price_tag">

            <label >Price:</label>
            <input type="number" class="form-control " value="{{menu.price}}" name="price" required>
        </div>
        <div id="price_box">
            <label>Price tag 1</label>
            <input type="text" class="form-control" value="{{menu.price_tag1}}" name="price_tag1">
        
            <label >Price 1:</label>
            <input type="number" class="form-control " value="{{menu.price1}}" name="price1" >
        </div>
        <div id="price_box">
            <label>Price tag 2</label>
            <input type="text" class="form-control" value="{{menu.price_tag2}}" name="price_tag2">
        
            <label >Price 2:</label>
            <input type="number" class="form-control " value="{{menu.price2}}" name="price2" >
        </div>

        <label >Food Type:</label>
        <select class="form-control " name="food_type" required >
            {%if menu.food_type == "veg" %}
            <option value="veg">Veg</option>
            <option value="nonveg" >Non Veg</option>
            <option value="egg">Egg</option>
            {% elif  menu.food_type == "nonveg" %}
            <option value="nonveg" >Non Veg</option>
            <option value="veg">Veg</option>
            <option value="egg">Egg</option>
            {% elif menu.food_type == "egg"%}
            <option value="egg">Egg</option>
            <option value="veg">Veg</option>
            <option value="nonveg" >Non Veg</option>
            {%else%}
            <option></option>
            <option value="veg">Veg</option>
            <option value="nonveg" >Non Veg</option>
            <option value="egg">Egg</option>
            {%endif%}


        </select>

        <label >Ingredient:</label>
        <input type="text" class="form-control " value="{{menu.ingredient}}" name="ingredient" >

        <label >Available:</label>
        <select class="form-control " name="stock"  required>
            {% if menu.stock %}  
                <option value=True>Available</option>
                <option value=False >Unavailable</option>
            {%else%}
                <option value=False >Unavailable</option>
                <option value=True>Available</option>
                
            {%endif%}
            
            
        </select>
        <!-- <label >Available :</label>
        <input type="checkbox" 
            class="form-control " 
            name="stock"   
            {% if menu.stock %} checked="checked" {%endif%}
            > -->

        

        

        <label >Category:  (<span style="color: rgb(236, 26, 26);">Last Category:</span> {{menu.category.category_name}})</label>
        <select class="form-control " name="category" required> 
            <option value="{{category_now.id}}">{{menu.category.category_name}}</option>
            {% for category in categories%}
            <option value="{{category.id}}">{{category.category_name}}</option>
            {%endfor%}

        </select>

        <button class="btn btn-primary" type="submit" style="margin-top: 15px;">Save</button>
        <a href="{%url 'index'%}" class="btn btn-danger " style="margin-top: 15px;">Cancel</a>
    </form>



</div>

<div class="container" style="margin: 20px; text-align: center;">
    <a href="{% url 'delete_menu' menu.id %}">Delete Item from Menu permanenetly</a>
</div>
{%endblock%}