{% extends "manager/layout.html"%}

{% block restaurant%}
    {%if restaurant%}
    <p>User: {{username}}
        <a href="{% url 'logout'%}"> (Logout)</a>
    </p>
    <h1>{{restaurant}} </h1>  
    
   
    {%endif%}

{% endblock %}

{%block restaurant_navbar%}
    {{restaurant}}
{%endblock%}


{%block category_select%}
    <div class="container d-flex justify-content-center align-items-center" >

        <div class="form-group">
            <label for="sel1" id="select_title">Select Category to Edit:</label>
            <select class="form-control" id="select_category">
                <option value="Show All">Show All</option>
                {% for category in categories%}
                <option value="{{category.category_name}}">{{category.category_name}}</option>
                {%empty%}
                <option value="No Category">No Category</option>
                {%endfor%}
                <!-- <option value="Sides">Sides</option>
                <option value="Mutton Biryani">Mutton Biryani</option> -->

            </select>
        </div> 
    </div>
{%endblock%}


{% block menu_item%}
  
        {%for category in categories%}
            <div class="container menu_item" id="category_inside" data-category="{{category.category_name}}"  ><h2> Category: {{category.category_name}}</h2></div>
            {%for item in menu_items%}
                {%if item.category.category_name == category.category_name %}
                    <div class="container menu_item" data-category="{{item.category.category_name}}"  >
                        <h4><a href="{% url 'edit_menu' item.id %}">{{item.item_name}} </a>  </h4> 

                        <form action="{%url 'update_price' item.id %}" method="POST" >
                            {%csrf_token%}
                            <span style="font-size:25px;">Price:  </span>
                            <input type="text" name="price" id="price" value="{{item.price}}" style="width: 120px;">  <span style="font-size:30px;">₹  </span>
                            <button class="btn btn-primary" type="submit">Update Price</button>
                        </form>

                        <form class="form-inline" action="{%url 'update_stock' item.id %}" method="POST" style="padding-top:15px;width: 300px;" >
                            {%csrf_token%}
                            <span style="font-size:25px;">Stock:  </span>
                            <select class="form-control " name="stock"  required  style="margin:10px; width: 120px;">
                                {% if item.stock %}  
                                    <option value=True>Available</option>
                                    <option value=False >Unavailable</option>
                                {%else%}
                                    <option value=False >Unavailable</option>
                                    <option value=True>Available</option>
                                    
                                {%endif%}
                            </select>
                                <button class="btn btn-primary" type="submit" style="padding-left:10px" >Update</button>
                            
                        </form>
                        <p id="ing"> {{item.ingredient}}</p>
                    </div>
                {%endif%}
            {%empty%}
                <h4> No items</h4>
            {%endfor%}
            
        {%empty%}
        <h4> No categories</h4>
        {%endfor%}

{%endblock%}