<!DOCTYPE html>
<html lang="en">
<head>
    <title>ZuBu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- For Google fonts -->
 
    
    {% load static %}
    <!-- add css static file -->
    <link rel="stylesheet" type="text/css" href="{% static 'menu/style.css' %}">

    <script src="{% static 'menu/menu.js'%}" type="text/javascript"></script>


</head>

<body>


  <div class="container" id="restaurant_name">
      <!-- <h1>Logo and restaurant name</h1> -->
      {% block restaurant%}
      {% endblock %}

  </div>

  <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top" >
    <a class="navbar-brand" id="navbar-brand" href="#">
        MENU 
      </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

      <ul class="navbar-nav">
        Show-All category is displayed from here
        <li class="nav-item" >
          <a class="nav-link text-light" id="category" href="#">Show All</a>
        </li>

        {%block category%}

        {% endblock %}

          data displayed in category block
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Link</a>
        </li>
  
        
        
      </ul>
    </div>  
  </nav> -->
  <br>
  <div class="sticky-top" id="top_bar">
    <h2 style="text-align: center;">MENU</h2>

  </div>
  <br>
  <div class="container" >

    <div class="form-group">
      <label for="sel1" id="select_title">Select Your Choice:</label>
      <select class="form-control" id="select_category">
        <option value="Show All">Show All</option>
        {%block category_select%}
        {%endblock%}
        <!-- <option value="Sides">Sides</option>
        <option value="Mutton Biryani">Mutton Biryani</option> -->

      </select>
    </div> 
  </div>

  <!-- "d-none" class is used to set diaplay property to none -->
  <div class="container d-none" > 
    <h3>Dsiabled Navbar</h3>
    <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).</p>
  </div>

    {% block menu_item%}
    {%endblock%}

  <div class="container show_this d-none" id="show_this">
    <h3>Collapsible Navbar</h3>
    <p>In this example, the navigation bar is hidden on small screens and replaced by a button in the top right corner (try to re-size this window).</p>
    <p>Only when the button is clicked, the navigation bar will be displayed.</p>
    <p>Tip: You can also remove the .navbar-expand-md class to ALWAYS hide navbar links and display the toggler button.</p>
  </div>

</body>
</html>
