{% extends "menu/layout.html"%}

{% block restaurant%}
<h1 id="test">{{restaurant_name}}</h1>
{% endblock %}





{%block category_select%}
{% for key, value in categorydetails.items %}
    <option value="{{key}}">{{key}}</option>
    {%empty%}
    <option value="No Category">No Category</option>
    {%endfor%}
{%endblock%}


{% block menu_item%}
    {% for key, value in categorydetails.items %}
    <div class="container menu_item" id="category_inside" data-category="{{key}}"  >
        <h2> {{key}}</h2>
       <p id="cat_details">{{value}}</p>
    </div>
        
        {%for item in menu_items%}
            {%if item.category.category_name == key%}
                <div class="container menu_item" data-category="{{item.category.category_name}}"  >
                    <h5>{{item.item_name}}   </h5> 
                    <p id="price">
                        {{item.price_tag}}   ₹ {{item.price}}
                        {%if item.price_tag1%}
                        | {{item.price_tag1}}   ₹ {{item.price1}}
                        {%endif%}
                        {%if item.price_tag2%}
                        | {{item.price_tag2}}   ₹ {{item.price2}}
                        {%endif%}

                    </p>
                    <p id="ing"> {{item.ingredient}}</p>
                </div>
            {%endif%}
        {%empty%}
            <h4> No items in Menu</h4>
        {%endfor%}
 
    {%endfor%}
    

{%endblock%}