{% extends "menu/layout.html"%}

{% block restaurant%}
<h1 id="test">{{restaurant_name}}</h1>
{% endblock %}



<!-- {%block category%}
{%for category in categories%}
    <li class="nav-item" >
        <a class="nav-link text-light" id="category" href="#">{{category.category_name}}</a>
    </li>
{%empty%}
    <li class="nav-item">
        <a class="nav-link text-light" href="#">Category1</a>
    </li>
{%endfor%}
{% endblock %} -->

{%block category_select%}
    {% for category in categories%}
    <option value="{{category}}">{{category}}</option>
    {%empty%}
    <option value="No Category">No Category</option>
    {%endfor%}
{%endblock%}


{% block menu_item%}
    {% for category in categories%}
    <div class="container menu_item" id="category_inside" data-category="{{category}}"  ><h1> {{category}}</h1></div>
        {%for item in menu_items%}
            {%if item.category.category_name == category%}
                <div class="container menu_item" data-category="{{item.category.category_name}}"  >
                    <h5>{{item.item_name}}   </h5> 
                    <p id="price">
                        {{item.price_tag}}   ₹ {{item.price}}
                        {%if item.price_tag1%}
                        | {{item.price_tag1}}   ₹ {{item.price1}}
                        {%endif%}
                        {%if item.price_tag2%}
                        | {{item.price_tag2}}   ₹ {{item.price2}}
                        {%endif%}

                    </p>
                    <p id="ing"> {{item.ingredient}}</p>
                </div>
            {%endif%}
        {%empty%}
            <h4> No items in Menu</h4>
        {%endfor%}
    {%endfor%}
{%endblock%}