
@import url('https://fonts.googleapis.com/css?family=Satisfy');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');



#restaurant_name {
    padding-top: 15px;
 }

#restaurant_name h1{
    text-align: center;
    font-family: 'Roboto Mono','Courier New', Courier, monospace;
    
 }
 #restaurant_name p{
    
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: right;
 }
 
 #navbar-brand{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

 #collapsibleNavbar li{
     font-family: 'Roboto';
 }
 
 #category_inside{
     padding-top: 30px;
     padding-bottom: 20px;
     font-family:'Roboto' ;
     color:rgb(107, 105, 105); ;
     text-decoration: underline;
     
 }

 /* 'Caveat' */
 .menu_item h4 {
     font-family:Arial, Helvetica, sans-serif;
     font-size: 25px;
     /* color: rgb(221, 168, 21);  */
     /* color: #3D72A4; */
     color: #2487ce;
     }
 
 
 #price {
     font-family:sans-serif;
     font-size: 20px;
     color:rgb(107, 105, 105);
     margin-left: 10px;
 }
 
 #ing {
     font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size:20px;
     color: rgb(90, 87, 87);
     /* font-style: italic; */
 }
 

 #select_category{
     width: 400px;
 }

 #top_bar{
     height: 50px;
     background-color: rgb(61, 60, 60);
     padding: 5px;


 }

 #top_bar h2{
     color: white;

 }

 #select_title{

    font-family:Arial, Helvetica, sans-serif ;
    font-style: bold;
 }